*{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}

.main{
  max-width: 1800px;
  height: 46.4rem;
  background-color: #071829;

}
.navbar{
  display: flex;
  justify-content: space-between;
  margin-left: 4rem;
  margin-right: 5rem;
  max-width: 1500px;
  height: 5rem;
 
}
.logo_s{
  width: 7rem;
  padding: 2rem 0 0 2rem;
  font-size: 1.5rem;
  color: white;
  margin-bottom: 1rem;

}

.span_s{
  width: 4rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  background-color: rgb(35, 153, 217);
  border-radius: 10%;
}

.hov{
  font-size: 1.2rem;
  padding-top: 1.9rem;
  color: #00B2FF;
}

.hov:hover{
  opacity: 0.8;
  cursor: pointer;
}

hr{
 
  border: 0.3px solid #6f7a8475;
}

.topics{
  color: white;
  font-size: 1.5rem;
  margin-left: 7%;
  padding-top: 2rem;
  display: flex;
}

.box{
  margin-left: 7%;
  margin-top: 2%;
  width:90%;
  overflow-x: scroll;
  display: flex;
}

.box2{
  display: none;
}

.box::-webkit-scrollbar{
  height: 0;
}
.box1{
  position: relative;
  padding:0 0.5rem 0.5rem 0.5rem;
  border: 1px solid #425568;
  height: 230px;
  min-width: 360px;
  border-radius: 12px;
  margin-right: 0.5rem;
}



.image{
  float: left;
  height: 135px;
  width: 135px;
  margin-top: 1.5rem;

}

.head{
  text-align: left;
  margin-bottom: 0.5rem;
  color: #FFFFFF;
}

.heading{
  font-size: 1.2rem;
  padding-top: 1.9rem;
  color: #FFFFFF;
}

.para_s{
  margin-top: 0.5rem;
  font-size: 0.9rem;
  text-align: left;
  color: #ffffff95;
  height: 6rem;
}

.read{
  position: absolute;
  width: 95%;
  padding: 0.5rem;
 background-color: transparent;
 height: 48px;
  color: white;
  border-radius: 5px;
  border: none;
  border: 0.8px solid #425568;
  font-weight: bold;
  bottom: 5%;
  
}

@media screen and (max-width: 480px){
  .main{
    max-width: 1800px;
    height: 100vh;
  
  }
  .navbar{
    margin-left: 0;
    margin-right: 0;
    height: 3.5rem;
   
  }
  .logo_s{
    width: 5rem;
    padding: 1rem 0 0 1rem;
    font-size: 1.2rem;
    margin-top: 0.4rem;
    margin-left: 1rem;
  }


  .span_s{
    width: 5rem;

    font-size: 1.2rem;
  }
  .hov{
    font-size: 1.1rem;
    padding-right: 0.4rem;
    padding-top:1.2rem;
    
  }

  .box{
    margin-left: 4%;
    margin-top: 4%;
  }

  .box1{
    box-sizing: border-box;
    min-width: 175px;
    height: 280px;
    border: 2px solid #425568;
    border-bottom: 6px solid #425568;
    opacity: 0px;
    margin-right: 1rem;
    border-radius: 20px;
    overflow: hidden;
   
  }
  .box2{
    display: block;
  }
  
  .place_chip{
    order: -1;
  }
  
  .place_rocket{
    order: -2;
  }

.image{
  margin-top: 0.8rem;
  margin-left: 50%;
  transform: translate(-50%);
  margin-bottom: 0.4rem;

}


.heading{
  font-size: 16px;
  font-weight: 600;
  padding: 0.3rem;
  line-height: 1.2rem;
  letter-spacing: 1px;
}

.para_s{
  font-size: 13.5px;
  padding: 0 1px 0.5rem 1px;
  line-height: 1rem;
}
.read{
  display: none;
}
}