*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .container{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
  }
  .img{
      height: 100vh;
      width: 50vw;
      overflow: hidden;
      z-index: -1;
      width: auto;
  }
  
  .signup_item{
    position: absolute;
    right: 0;
    width: 50vw;
    height: 100vh;
    background-color: #071829;
  }
  
  .logo{
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    color: white;
  }
  
  .span{
    width: 4rem;
    padding: 0.5rem;
    font-size: 2rem;
    background-color: rgb(35, 153, 217);
    border-radius: 10%;
  }
  
  .para{
    color: white;
    text-align: center;
  }
  
  .signup{
    color: white;
    text-align: center;
    margin: auto auto;
    position: relative;
    top: 5%;
  }
  
  .msg{
    padding-top: 0.3rem;
  }
  
  .google{
    height: 3.5rem;
    width: 60%;
    background-color: rgba(206, 202, 202, 0.1);
    margin-top: 2rem;
    border: 1px solid rgba(206, 202, 202, 0.53);
    margin-bottom: 1rem;
    border-radius: 2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
  }
  

  
  .g_img{
    position: relative;
    top: 15%;
    padding-right: 0.8rem;
    margin: auto;
  }
  
  .img_msg{
    font-size: 1.1rem;
    font-weight: bold;
  }
  

  
  a{
    color: #00B2FF;
  }

  .email{
    width: 60%;
    height: 3rem;
    background-color: transparent;
    color: white;
    border: 1px solid gray;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1.1rem;
    border-radius: 6px;
  }
  
  .pass{
    width: 60%;
    height: 3rem;
    background-color: transparent;
    border: 1px solid gray;
    color: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1.1rem;
    border-radius: 6px;
  }

  .btn{
    width: 60%;
    border: 1px solid gray;
    height: 2.6rem;
    margin-top: 3rem;
    border-radius: 6px;

  }
.account{
  text-align: center;
  margin-top: 20%;
  
}
  
.s_msg{
 
  color: white;
  text-align: center;
}
  
  .link{
    
    text-align: center;
    color: #00B2FF;
  }


  .marker:hover{
    cursor: pointer;
    opacity: 0.7;
  }
  
  @media screen and (max-width: 480px) {
    .container{
     flex-direction: column;
     width: 100vw;
    }

    .img{
      position: relative;
      width: 100vw;
      height: 50vh;
    }
    
  .signup_item{
    position:static;
    width: 100vw;
    height: 50vh;
    top:70%
    }
    .logo{
      position:absolute;
      bottom: 55%;
      left: 50%;
      transform: translate(-50%);
      font-size: 1.3rem;
    }
    .span{
      padding: 0.5rem;
      font-size: 1.3rem;
    }
    .para{
      position: absolute;
      bottom: 52%;
      font-size: 0.8rem;
      left: 50%;
      transform: translate(-50%);
    }
    .signup{
      font-size: 0.8rem;
      padding-top: 0.3rem;
    }
    .msg{
      padding-top: 0.5rem;
    }
    .google{
      height: 3rem;
      width: 90%;
    }

    .img_msg{
      font-size: 1rem;
    }

    .email{
        width: 80%;
        height: 2rem;
        
      }
    
      .pass{
        width: 80%;
        height: 2rem;
       
        font-size: 1.1rem;
      }
    
      .btn{
        width: 80%;
        border: 1px solid gray;
        height: 2rem;
        margin-top: 2.5rem;
        margin-bottom: 0.5rem;
    
      }
      .s_msg{
        margin-bottom: 0.2rem;
        color: white;
        text-align: center;
      }
      .account{
        text-align: center;
        margin-top: 1rem;
        padding-bottom: 0.3rem;
      }

  }
  
  @media screen and (max-width:294px) {
    .logo{
        position:absolute;
        bottom: 57%;
        left: 50%;
        transform: translate(-50%);
        font-size: 90%;
        width: 5rem;
    }
    .span{
        padding: 0.5rem;
        font-size: 90%;
      }
      .google{
        height: 3.5rem;
        width: 90%;
      }
      .img_msg{
        font-size: 0.8rem;
      }
  }
