*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .container2{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
  }
  .img2{
      height: 100vh;
      width: auto;
      overflow: hidden;
      z-index: -1;
  }
  
  .signup_item2{
    position: absolute;
    right: 0;
    width: 50vw;
    height: 100vh;
    background-color: #071829;
  }
  
  .logo2{
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    color: white;
  }
  
  .span2{
    width: 4rem;
    padding: 0.5rem;
    font-size: 2rem;
    background-color: rgb(35, 153, 217);
    border-radius: 10%;
  }
  
  .para2{
    color: white;
    text-align: center;
  }
  
  .signup2{
    color: white;
    text-align: center;
    margin: auto auto;
    position: relative;
    top: 15%;
    border: 1px solid rgba(206, 202, 202, 0.53);
    border-radius: 15px;
    padding: 1rem;
    background-color:rgba(206, 202, 202, 0.1) ;
    width: 50%;
  }
  
  .msg2{
    padding-top: 0.3rem;
  }
  
  .google2{
    box-sizing: border-box;
    height: 3rem;
    width: 95%;
    background-color: #07182928;
    margin-top: 2rem;
    border: 1px solid rgba(206, 202, 202, 0.53);
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

  }
  
  .mail2{
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    height: 3rem;
    width: 95%;
    background-color: #07182928;
    border: 1px solid rgba(206, 202, 202, 0.53);
    border-radius: 10px;
    
  }
  
  .g_img2{
    padding-right: 0.8rem;
    padding-top: 0.3rem;
    display:inline-block;
    margin-top: 0.1rem;
  }
  
  .img_msg2{
    display: inline-block;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 0.6rem;
  }
  
  .s_msg2{
    margin-top: 5rem;
    display: inline-block;
  
  }
  
  .link2{
    color: #00B2FF;
    margin-left: 0.1rem;
  
  }
  
  .marker:hover{
    cursor: pointer;
    opacity: 0.7;
  }
  
  @media screen and (max-width: 480px) {
    .container2{
     flex-direction: column;
    }
    .img2{
      position: relative;
      width: 100vw;
      height: 50vh;
    }
    
  .signup_item2{
    position:static;
    width: 100vw;
    height: 50vh;
    top:70%
    }
    .logo2{
      position:absolute;
      bottom: 55%;
      left: 50%;
      transform: translate(-50%);
      font-size: 1.3rem;
    }
    .span2{
      padding: 0.5rem;
      font-size: 1.3rem;
    }
    .para2{
      position: absolute;
      bottom: 54%;
      font-size: 0.8rem;
      left: 50%;
      transform: translate(-50%);
    }
    .signup2{
      font-size: 0.8rem;
      padding-top: 1.2rem;
    }
    .msg2{
      padding-top: 0.5rem;
    }
    .google2{
      height: 2.5rem;
      width: 90%;
    }
    .mail2{
      height: 2.5rem;
      width: 90%;
    }
    .g_img2{
      height: 1.2rem;
      width: 1.2rem;
      
    }
    
  .img_msg2{
    font-size: 0.8rem;
    margin: auto;
   
  }
  .s_msg2{
    margin-top: 7rem;
    padding-bottom: 1rem;
  }
  }

  @media screen and (max-width:294px) {
    .logo2{
        position:absolute;
        bottom: 60%;
        left: 50%;
        transform: translate(-50%);
        font-size: 90%;
        width: 5rem;
    }
    .span2{
        padding: 0.5rem;
        font-size: 90%;
      }
  }

  @media screen and (max-width:750px){
    .signup2{
      border: none;
      background-color: transparent;
      width: auto;
    }
  }
